<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Super Chat</title>
    <script type="text/javascript">
        var ws;
        function init() {
            ws = new WebSocket("ws://localhost:8080/chat");
            ws.onopen = function (event) {
            }
            ws.onmessage = function (event) {
                var $textarea = document.getElementById("messages");
                $textarea.value = $textarea.value + event.data + "\n";
            }
            ws.onclose = function (event) {
            }
        };
        function sendMessage() {
            var messageField = document.getElementById("message");
            var userNameField = document.getElementById("username");
            var message = userNameField.value + ":" + messageField.value;
            ws.send(message);
            messageField.value = '';
        };
        function logout() {
            var request = new XMLHttpRequest();
            request.open("DELETE", "/api/login", true);
            request.send("");
            window.location.reload();
        };
    </script>
</head>
<body onload="init()">
<div id="menu">
    <p class="welcome">
        Welcome, ${username}!
    </p>

    <div style="clear: both"></div>
</div>

<div id="chatbox">
    <textarea id="messages" rows="20" cols="50" readonly="readonly"></textarea>
</div>

<form name="message" action="">
    <input name="usermsg" type="text" id="message" size="40"/>
    <input type="button" name="submitmsg" value="Send..." onclick="sendMessage();"/>
</form>
<input type="button" name="logoutButton" value="Log out" onclick="logout()"/>
</body>
</html>