<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Super Chat</title>
</head>
<body>

<script type="text/javascript">
    function toggleVisibility(id) {
        var e = document.getElementById(id);
        if(e.style.display === 'none') {
            e.style.display = 'block';
        } else {
            e.style.display = 'none';
        }
    }
</script>

<p>You are not logged in.
    You should <a onclick="toggleVisibility('loginForm')" style="color: blue">register</a> or
    <a onclick="toggleVisibility('registerForm')" style="color: blue">login</a>.</p>

<div id="loginForm" style="display: none">
    <form action="/api/register" method="POST">
        Login: <input type="text" name="login"/>
        Password: <input type="password" name="password"/>
        <input type="submit" value="Register">
    </form>
</div>

<div id="registerForm" style="display:none">
    <form action="/api/login" method="POST">
        Login: <input type="text" name="login"/>
        Password: <input type="password" name="password"/>
        <input type="submit" value="Login">
    </form>
</div>

</body>
</html>
